name: Test Notification
on:
  issues:
    types: [opened] # 新しくIssueを作った時だけ反応

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Hello World
        run: echo "GitHub Actions is working!"
