name: Google Chat Thread Notification

on:
  issues:
    types: [opened, edited]
  issue_comment:
    types: [created]

jobs:
  notify-to-gas:
    runs-on: ubuntu-latest
    steps:
      - name: Send Event Data to GAS
        run: |
          # secrets.GAS_WEB_APP_URL には、GASで発行された /exec で終わるURLを登録してください
          # URL全体をダブルクォーテーションで囲むことで、image_a78751.png で発生していたエラーを回避します
          curl -L -X POST "${{ secrets.GAS_WEB_APP_URL }}" \
          -H "Content-Type: application/json" \
          -d '${{ toJson(github.event) }}'
